<div *ngIf="canAccess">
  <div class="page">
    <div class="toolbar">
      <mat-toolbar color="primary">
        <span class="font-title-bold-30"> {{'General.app_name' | translate}}</span>
        <div class="icon">
        </div>
        <div class="icon" (click)="tabSelector = 2" [ngClass]="tabSelector === 2 ? 'active': ''">
          <mat-icon  *ngIf="postsOffline.length > 0">warning</mat-icon>
        </div>
        <div class="icon">
        </div>
        <div class="icon" (click)="tabSelector = 0" *ngIf="tabSelector !== 0">
          <mat-icon>list</mat-icon>
        </div>
        <div class="icon" (click)="tabSelector = 1" *ngIf="tabSelector === 0">
          <mat-icon>grid_on</mat-icon>
        </div>
        <div class="icon" (click)="goToTakePicture()">
          <mat-icon>photo_camera</mat-icon>
        </div>
      </mat-toolbar>
    </div>

    <!-- LIST -->
    <div
      *ngIf="tabSelector === 0"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="getMorePost()"
      [scrollWindow]="true">
      <app-card-post
        *ngFor="let post of posts; let index = index"
        [post]="post"
        [reactPostId]="reactPostId"
        [currentUser]="currentUser"
        [isActivate]="isActivate"
        (reaction)="reactPost($event)"
        (delete)="removePost($event)"
        (reported)="reportedPost($event)"
      >
      </app-card-post>
    </div>

    <!-- GRID -->
    <div class="view-grid" *ngIf="tabSelector === 1">

      <div class="image-grid">
        <img
          *ngFor="let post of postsGridView; let i = index"
          [src]="post.pictureUrl"
          [ngClass]="{'square': post.pictureRatio == 1, 'portrait': post.pictureRatio == 0.5, 'paysage': post.pictureRatio == 2} "
          (click)="openDialog(postsGridView[i])">
      </div>

      <ng-template #dialogContent>
        <app-card-post
          class="dialog"
          [post]="postDetail"
          [reactPostId]="reactPostId"
          [currentUser]="currentUser"
          [isActivate]="isActivate"
          [style]="'border-radius: 1.5rem; border: 0.5rem solid var(--secondary-dark);'"
          (reaction)="reactPost($event)"
          (delete)="removePost($event)"
          (reported)="reportedPost($event)"
        >
        </app-card-post>
      </ng-template>
    </div>

    <!-- LIST OFFLINE-->
    <div *ngIf="tabSelector === 2">
      <app-card-post
        *ngFor="let post of postsOffline; let index = index"
        [post]="post"
        [isOffline]="true"
        [currentUser]="currentUser"
        [isActivate]="isActivate"
        (delete)="removePost($event)"
        (onClick)="updateOnline($event)"
      >
      </app-card-post>
    </div>

  </div>
</div>


<ng-template #dialogAreYouSureDeletePost>
  <h2 mat-dialog-title>{{ 'Utils.Are_you_sure.Delete-Post.title' | translate | capitalizeFirstLetter }}</h2>
</ng-template>


<div class="canNotAccess" *ngIf="!canAccess">
  <div class="card-login">
    <span class="font-primary-dark font-default-16"> {{ 'Auth.auth_required' | translate | capitalizeFirstLetter}} </span>
    <button mat-raised-button (click)="goToUserPage()"> {{ 'Auth.auth' | translate | capitalizeFirstLetter}} </button>
  </div>
</div>
