<app-switch-button
  [switchOptions]="switchOptions"
  [isFirstSelected]="listViewSelected"
  (selected)="listViewSelected = $event"
>
</app-switch-button>

<div *ngIf="canAccess">

  <app-create-post
    (createPostEvent)="addPost($event)"
  ></app-create-post>

  <div *ngIf="listViewSelected">
    <app-card-post
      *ngFor="let post of posts; let index = index"
      [post]="post"
      [reactPostId]="reactPostId"
      [currentUser]="currentUser"
      (reaction)="reactPost($event)"
      (delete)="removePost($event)"
    >
    </app-card-post>
  </div>

  <div *ngIf="!listViewSelected" class="view-grid">

    <div class="image-grid">
      <img
        *ngFor="let post of posts; let i = index"
        [src]="post.pictureUrl"
        [ngClass]="{'big': isBigImage(i), 'small': !isBigImage(i) }"
        (click)="openDialog(posts[i])">
    </div>


    <ng-template #dialogContent>
      <app-card-post
        class="dialog"
        [post]="postDetail"
        [reactPostId]="reactPostId"
        [currentUser]="currentUser"
        [style]="'border-radius: 1.5rem; border: 0.5rem solid var(--secondary-dark);'"
        (reaction)="reactPost($event)"
        (delete)="removePost($event)"
      >
      </app-card-post>
    </ng-template>


  </div>



</div>

<div *ngIf="!canAccess">
  <app-sign-in></app-sign-in>
</div>
