<h2> POST </h2>

<div *ngIf="canAccess">

  <app-create-post
    (createPostEvent)="addPost($event)"
  ></app-create-post>

  <div *ngFor="let post of posts; let index = index" class="card">
    <div class="header">
      <div class="user-banner">
        <div class="photo-profil">
          <img alt="{{ post.userId}}" src="{{ post.photoUrl }}">
        </div>
        <p> {{ post.userName}}</p>
      </div>
    </div>
    <div class="post">
      <img alt="{{ post.postId}}" src="{{ post.pictureUrl }}">
    </div>
    <div class="footer">
      <app-like-button
        (click)="reactPost(post)"
        [countLike]="post.countReact"
        [isLike]="reactPostId.includes(post.postId)"
      >
      </app-like-button>

      <app-delete-button
        (click)="removePost(post)"
        *ngIf="post.userId == currentUser.userId"
      >
      </app-delete-button>
      <button> Share</button>
    </div>
  </div>

</div>

<div *ngIf="!canAccess">
  <app-sign-in></app-sign-in>
</div>
