
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.onglet {
  display: flex;
  flex: 1;
  margin-bottom: 3.5rem;
  background-color: var(--secondary);

  * {
    flex: 1;
  }
}




app-bottom-navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
