<div class="home-page" *ngIf="event">

  <div class="onglet">
    <app-presentation-page
      *ngIf="tabSelector == 0"
      (sendTemporaryBackground)="setTemporaryBackground($event)"
      (sendFinallyBackground)="setFinallyBackground($event)"
      [isEditable]="isEditable"
      [isEditMode]="isEditMode"
    >
    </app-presentation-page>
    <app-menu-page
      *ngIf="tabSelector == 1"
      [isEditable]="isEditable"
      [menuList]="menuList"
      [isEditMode]="isEditMode"
    >
    </app-menu-page>
    <app-post-page
      *ngIf="tabSelector == 2"
      [canAccess]="canAccess"
      [isActivate]="isActivate"
      [currentUser]="currentUser"
      [posts]="posts"
      [postsGridView]="postsGridView"
      [reactPostId]="reactPostId"
      (switchTab)="tabSelector = $event"
      [isEditMode]="isEditMode"
    >
    </app-post-page>
    <app-plan-table-page
      *ngIf="tabSelector == 3"
      [isEditable]="isEditable"
      [inviteList]="inviteList"
      [tableInviteList]="tableInviteList"
      [tableInviteMap]="tableInviteMap"
      [isEditMode]="isEditMode"
    >
    </app-plan-table-page>
    <app-user-page
      *ngIf="tabSelector == 4"
      [canAccess]="canAccess"
      [currentUser]="currentUser"
      [isMaster]="isMaster"
      [isEditMode]="isEditMode"
    >
    </app-user-page>
  </div>

  <mat-tab-group
    headerPosition="below"
    disablePagination
    disableRipple = true
    [selectedIndex]="tabSelector"
    (selectedIndexChange)="tab($event)">
    <mat-tab class="tabuler">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': tabSelector == 0 ? 'var(--primary-light)' : 'var(--primary-dark)'}">home</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': tabSelector == 1 ? 'var(--primary-light)' : 'var(--primary-dark)'}">restaurant_menu</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': tabSelector == 2 ? 'var(--primary-light)' : 'var(--primary-dark)'}">photo_camera</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': tabSelector == 3 ? 'var(--primary-light)' : 'var(--primary-dark)'}">person_search</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': tabSelector == 4 ? 'var(--primary-light)' : 'var(--primary-dark)'}">account_circle</mat-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>

