
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.onglet {
  display: flex;
  flex: 1;
  margin-bottom: 3.5rem;
  background-color: var(--secondary);

  * {
    flex: 1;
  }
}

mat-tab-group {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  width: 100%;

  ::ng-deep .mdc-tab {
    min-width: auto;
    height: 3.5rem;
  }
}
