<div class="home-page">
  <div class="onglet">
    <app-presentation-page
      *ngIf="tabSelector == 1"
      (sendTemporaryBackground)="setTemporaryBackground($event)"
      (sendFinallyBackground)="setFinallyBackground($event)"
    >
    </app-presentation-page>
    <app-menu-page
      *ngIf="tabSelector == 2"
      [isMaster]="isMaster"
      [menuList]="menuList"
    >
    </app-menu-page>
    <app-post-page
      *ngIf="tabSelector == 3"
      [canAccess]="canAccess"
      [currentUser]="currentUser"
      [posts]="posts"
      [reactPostId]="reactPostId"
    >
    </app-post-page>
    <app-plan-table-page
      *ngIf="tabSelector == 4"
      [isMaster]="isMaster"
      [inviteList]="inviteList"
      [tableInviteList]="tableInviteList"
      [tableInviteMap]="tableInviteMap"
    >
    </app-plan-table-page>
    <app-user-page
      *ngIf="tabSelector == 5"
      [canAccess]="canAccess"
      [currentUser]="currentUser"
    >
    </app-user-page>
  </div>

  <app-bottom-navigation-bar
    [tabSelector]="tabSelector"
    (onclick)="tab($event)"
  >
  </app-bottom-navigation-bar>

</div>

