.fullScreen {
  position: absolute;
  z-index: 10000;
  background: var(--secondary);
  color: var(--primary-dark);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.25);
  white-space: pre-line;


  mat-icon {
    padding: 1rem;
  }
}



.home-page {
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  background-color: black;

  mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.onglet {
  display: flex;
  flex: 1;
  background-color: var(--secondary);

  * {
    flex: 1;
  }
}

app-bottom-navigation-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

mat-tab-group {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary);
  z-index: 100;


  ::ng-deep {
    .mdc-tab {
      min-width: auto;
      height: 3.5rem;
      span {
        border-color: var(--primary-dark) !important;
        color: var(--primary-dark) !important;
      }
    }
  }
}

.dialog_edit_mode {
  display: flex;
  flex-direction: column;

  .partie {
    display: flex;
    gap: 0.5rem;
  }
}
