<div class="home-page" *ngIf="event">

  <div
    *ngIf="needInstallPWA"
    class="alertPWA"
    (click)="installPwa()">
    <span> {{ "Utils.PWA.install" | translate | capitalizeFirstLetter }}</span>
  </div>

  <div
    *ngIf="needInstallPWAChrome"
    class="alertPWA"
    (click)="needInstallPWAChrome = false">
    <span> {{ "Utils.PWA.chrome" | translate | capitalizeFirstLetter }}</span>
    <mat-icon>north_east</mat-icon>
  </div>

  <div
    *ngIf="needInstallPWAFirefox"
    class="alertPWA"
    (click)="needInstallPWAFirefox = false">
    <span> {{ "Utils.PWA.firefox" | translate | capitalizeFirstLetter }}</span>
    <mat-icon>north_east</mat-icon>
  </div>

  <div
    *ngIf="needInstallPWAOpera"
    class="alertPWA"
    (click)="needInstallPWAOpera = false">
    <span> {{ "Utils.PWA.opera" | translate | capitalizeFirstLetter }}</span>
    <mat-icon>north_east</mat-icon>
  </div>

  <div
    *ngIf="needInstallPWASafari"
    class="alertPWA pwa-safari"
    (click)="needInstallPWASafari = false">
    <span > {{ "Utils.PWA.safari" | translate | capitalizeFirstLetter }}</span>
    <mat-icon>arrow_downward</mat-icon>
  </div>

  <div
    *ngIf="needInstallPWADefault"
    class="alertPWA"
    (click)="needInstallPWADefault = false">
    <span > {{ "Utils.PWA.default-browser" | translate | capitalizeFirstLetter }}</span>
    <mat-icon>north_east</mat-icon>
  </div>

  <mat-toolbar color="warn" *ngIf="isEditMode">
    <p> prévisualisation : {{decompteDateString}} </p>
  </mat-toolbar>

  <div
    *ngIf="!isTakePicture"
    class="onglet"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()">
    <app-presentation-page
      *ngIf="tabSelector == 0"
      (sendTemporaryBackground)="setTemporaryBackground($event)"
      (sendFinallyBackground)="setFinallyBackground($event)"
      [isEditable]="isEditable"
      [isEditMode]="isEditMode"
      [event]="event"
    >
    </app-presentation-page>
    <app-menu-page
      *ngIf="tabSelector == 1"
      [isEditable]="isEditable"
      [menuList]="menuList"
      [isEditMode]="isEditMode"
      [event]="event"
    >
    </app-menu-page>
    <app-post-page
      *ngIf="tabSelector == 2"
      [canAccess]="canAccess"
      [isActivate]="isActivate"
      [currentUser]="currentUser"
      [posts]="posts"
      [postsOffline]="postsOffline"
      [postsGridView]="postsGridView"
      [reactPostId]="reactPostId"
      (switchTab)="tabSelector = $event"
      [isEditMode]="isEditMode"
      (takePicture)="isTakePicture = $event"
    >
    </app-post-page>
    <app-plan-table-page
      *ngIf="tabSelector == 3"
      [isEditable]="isEditable"
      [inviteList]="inviteList"
      [tableInviteList]="tableInviteList"
      [tableInviteMap]="tableInviteMap"
      [isEditMode]="isEditMode"
      [event]="event"
    >
    </app-plan-table-page>
    <app-user-page
      *ngIf="tabSelector == 4"
      [canAccess]="canAccess"
      [currentUser]="currentUser"
      [isMaster]="isMaster"
      [isEditMode]="isEditMode"
      [event]="event"
    >
    </app-user-page>
  </div>

  <app-generate-picture
    *ngIf="isTakePicture"
    (goBack)="isTakePicture = false"
  >
  </app-generate-picture>

  <mat-tab-group
    *ngIf="!isTakePicture"
    headerPosition="below"
    disablePagination
    disableRipple = true
    [selectedIndex]="tabSelector"
    (selectedIndexChange)="tab($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>home</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>restaurant_menu</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>photo_camera</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person_search</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>account_circle</mat-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #dialogEditMode>
  <div class="dialog_edit_mode">
    <h1 mat-dialog-title class="font-title-48" style="margin-top: 2rem"> {{ 'Home.Edit_mode_dialog.title' | translate | capitalizeFirstLetter }}</h1>
    <p>
      {{ 'Home.Edit_mode_dialog.presentation' | translate | capitalizeFirstLetter }}
      {{event.eventDate | date: 'dd/MM/yyyy'}}
    </p>

    <span class="font-default-16 partie"> <mat-icon>home</mat-icon> {{ 'Home.Edit_mode_dialog.accueil' | translate | capitalizeFirstLetter }}</span>
    <ul>
      <li>{{ 'Home.Edit_mode_dialog.accueil_presentation_text' | translate | capitalizeFirstLetter }}</li>
      <li>{{ 'Home.Edit_mode_dialog.accueil_import_picture' | translate | capitalizeFirstLetter }}</li>
    </ul>

    <span class="font-default-16 partie"> <mat-icon>restaurant_menu</mat-icon>{{ 'Home.Edit_mode_dialog.menu' | translate | capitalizeFirstLetter }}</span>
    <ul>
      <li>{{ 'Home.Edit_mode_dialog.menu_modification' | translate | capitalizeFirstLetter }}</li>
    </ul>

    <span class="font-default-16 partie"> <mat-icon>photo_camera</mat-icon>{{ 'Home.Edit_mode_dialog.photo' | translate | capitalizeFirstLetter }}</span>
    <ul>
      <li>{{ 'Home.Edit_mode_dialog.photo_explain' | translate | capitalizeFirstLetter }}</li>
    </ul>

    <span class="font-default-16 partie"> <mat-icon>person_search</mat-icon> {{ 'Home.Edit_mode_dialog.plan_table' | translate | capitalizeFirstLetter }}</span>
    <ul>
      <li>{{ 'Home.Edit_mode_dialog.plan_table_modification' | translate | capitalizeFirstLetter }}</li>
      <li>{{ 'Home.Edit_mode_dialog.plan_table_invite' | translate | capitalizeFirstLetter }}</li>
    </ul>

    <span class="font-default-16 partie"> <mat-icon>account_circle</mat-icon> {{ 'Home.Edit_mode_dialog.parametre' | translate | capitalizeFirstLetter }}</span>
    <ul>
      <li>{{ 'Home.Edit_mode_dialog.parametre_explain' | translate | capitalizeFirstLetter }}</li>
      <li>{{ 'Home.Edit_mode_dialog.parametre_export' | translate | capitalizeFirstLetter }}</li>
    </ul>
  </div>
</ng-template>

