.hide-element {
  display: none !important;
}

.home {
  height: 100%;
  width: 100%;
  margin-bottom: -3.5rem;

  .page {

    .video_container {
      position: relative;

      video {
        background: black;
      }

      video.mirror {
        transform: scaleX(-1);
      }

      .ratio_1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .ratio_2 {
        width: 75%;
        height: 100%;
        object-fit: cover;
      }

      .ratio_3 {
        width: 100%;
        height: 75%;
        object-fit: cover;
      }

      .file_picture_button {
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translate(50%, -50%);
        z-index: 1;
      }

      .take_picture_button {
        position: fixed;
        bottom: 0;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .switch_camera_button {
        position: fixed;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .switch_ratio_button {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(50%, -20%);
        z-index: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .crop_image {
    position : relative;

    .close_picture {
      position: absolute;
      margin: 2rem;
      right: 0;
      z-index: 1;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100lvh;
    margin-bottom: calc(2* var(--navBarHeight));
  }

  .canvas_container {
    background-color: black;
    max-height: 40lvh;
  }

  .close_picture {
    position: absolute;
    margin: 2rem;
    right: 0;
    z-index: 1;
  }

  .filter_button {
    display: flex;
    overflow: auto;
    flex-direction: column;
    background: var(--secondary);

    .switch_ratio_button {
      display: flex;
      justify-content: space-around;
      background: var(--secondary-dark);
      padding: 0.5rem;
    }

    .filter_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow: auto;
      grid-gap: 10px;
      justify-content: center;
      padding: 0.5rem;
      box-shadow: inset 0 0.5rem 1rem 0 var(--secondary-dark),inset 0 -0.5rem 1rem 0 var(--secondary-dark);

      .square {
        position: relative;
        border-radius: 1rem;
        width: 100%;
        padding-bottom: 100%;
        background-color: #f2f2f2;
        box-shadow: 0 0 0 1px black;
        text-align: center;
      }

      .square.selected {
        background-color: var(--primary);
      }

      .square-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .filter {
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 0.5rem;
      box-shadow: inset 0 0.5rem 1rem 0 var(--secondary-dark),inset 0 -0.5rem 1rem 0 var(--secondary-dark);

      .slider {
        display: flex;
        flex-direction: column;

        mat-slider {
          width: 80%;
          align-self: center;
        }

      }

    }

    .save {
      position: fixed;
      bottom: 0;
      background: var(--secondary-dark);
      align-self: center;
      display: flex;
      padding: 1rem 0;
      width: 100%;
      justify-content: center;
    }
  }

  .tabs {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    z-index: 100;


    ::ng-deep {
      .mdc-tab {
        min-width: auto;
        height: 3.5rem;

        span {
          border-color: var(--primary-dark) !important;
          color: var(--primary-dark) !important;
        }
      }
    }
  }

}


