<div class="home">
  <div #toolbar>
    <mat-toolbar  color="primary">
      <button mat-icon-button (click)="returnPostPage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="font-title-bold-30"> {{'General.app_name' | translate}}</span>
    </mat-toolbar>
  </div>


  <div [class.hide-element]="!isPictureChoose" class="container" [style.height]=" 'calc(100vh - ' + navBarHeight + 'px)' ">

    <div #canvasContainer class="canvas_container" >
      <button mat-mini-fab class="close_picture"  *ngIf="isPictureChoose" (click)="resetCamera()"><mat-icon>close</mat-icon></button>
      <app-generic-image-cropper
        id="image"
        [maintainAspectRatio]="true"
        [imageBase64]="imageBase64"
        [ratio]="ratio"
        (croppedImage)="imageCropped($event)"
      >
      </app-generic-image-cropper>
    </div>

    <div #filterButton class="filter_button" [style.width]="maxWidth + 'px'">
      <div  class="switch_ratio_button">
        <button mat-fab color="{{ratio ==1 ? 'primary': 'accent'}}" (click)="ratio = 1"><mat-icon>crop_square</mat-icon></button>
        <button mat-fab color="{{ratio ==1/2 ? 'primary': 'accent'}}" (click)="ratio = 1/2"><mat-icon>crop_portrait</mat-icon></button>
        <button mat-fab color="{{ratio ==2 ? 'primary': 'accent'}}" (click)="ratio = 2"><mat-icon>crop_3_2</mat-icon></button>
      </div>
      <div class="filter_list" [style.margin-bottom]="navBarHeight + 'px' ">
        <div class="square"  [ngClass]="filterSelected === 'none' ? 'selected' : '' " >
          <div class="square-content" (click)="applyFilter('none')">{{'Utils.no_filter' | translate | capitalizeFirstLetter}}</div>
        </div>
        <div class="square" *ngFor="let filter of filters" [ngClass]="filterSelected === filter ? 'selected' : '' ">
          <div class="square-content" (click)="applyFilter(filter)">{{filter}}</div>
        </div>
      </div>
      <div class="save">
        <button mat-raised-button (click)="saveImage()">{{'Utils.save' | translate | capitalizeFirstLetter}}</button>
      </div>

    </div>

  </div>

  <div class="page">

    <div [hidden]="isPictureChoose" class="video_container">
      <video id="video" [width]="maxWidth" [height]="maxHeight"></video>

      <button mat-fab color="accent" class="file_picture_button" (click)="choosePicture()"><mat-icon>folder_open</mat-icon></button>
      <button mat-fab color="accent" class="take_picture_button" (click)="capturePhoto()"><mat-icon>center_focus_strong</mat-icon></button>
      <button mat-fab color="accent" class="switch_camera_button" (click)="switchCamera()"><mat-icon>flip_camera_ios</mat-icon></button>
    </div>

  </div>

</div>

