<div [formGroup]="form" class="card">
    <span class="font-default-24 font-primary-light">Reset Password</span>
    <span class="font-default-16 font-primary-light">Please enter your email address to request a password reset.</span>

  <div class="input">
    <div class="formControl">
      <input
        class="font-default-20"
        [ngClass]="form.get('email')?.value !== '' ? 'input-not-null' : '' "
        [formControlName]="'email'"
        #userEmail
        type="email"
        required="required">
      <span class="font-default-20"> {{ 'Auth.email' | translate | capitalizeFirstLetter  }} </span>

      <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
        {{ 'Utils.Errors.email' | translate | capitalizeFirstLetter  }}
      </mat-error>
      <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>

    </div>
  </div>

  <button
    mat-raised-button
    class="font-default-20"
    (click)="form.valid? authService.ForgotPassword(form.get('email')?.value): ''"
  >
    Reset Password
  </button>


    <span class="font-primary-light font-default-16" (click)="goBack.emit(true)">Go back to Log In</span>
</div>
