<div class="page">
  <div class="formulaire">
    <mat-stepper (selectionChange)="actualStep = $event.selectedIndex" #stepper>
      <mat-step [stepControl]="formPresentation" errorMessage="Name is required.">
        <div class="form_visual">
          <form [formGroup]="formPresentation">
            <ng-template matStepLabel>{{ 'Inscription.stepper_presentation' | translate | capitalizeFirstLetter }}</ng-template>
            <mat-form-field>
              <mat-label>Picture</mat-label>
              <button mat-icon-button matPrefix (click)="choosePicture()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input type="text" readonly matInput formControlName="picture" (click)="choosePicture()" required/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <textarea autosize matInput placeholder="Last name, First name" formControlName="text" required> </textarea>
            </mat-form-field>
          </form>
          <div class="visual" style="background-image: url({{ background ? background : '' }})">
            <div class="presentation_text" *ngIf="actualStep === 0">
              <textarea
                autosize>
                {{ formPresentation.controls['text'].value }}
              </textarea>
            </div>
          </div>
        </div>

        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperNext>Next</button>
        </div>

      </mat-step>
      <mat-step [stepControl]="formMenu" errorMessage="Address is required.">

        <div class="form_visual">
          <form [formGroup]="formMenu">
            <ng-template matStepLabel>{{ 'Inscription.stepper_menu' | translate | capitalizeFirstLetter }}</ng-template>
            <div *ngFor="let menu of menus.controls; let i = index">
              <form [formGroup]="getFormGroup(menu)">
                <mat-form-field>
                  <input matInput placeholder="cat" formControlName="menuCategorie" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="des" formControlName="menuDescription" required>
                </mat-form-field>
                <mat-icon class="delete-btn" (click)="deleteMenu(i)"> delete_forever</mat-icon>
              </form>
            </div>

            <button mat-mini-fab (click)="addMenu()">
              <mat-icon class="add-course-btn">add</mat-icon>
            </button>
          </form>

          <div class="visual" style="background-image: url({{ background ? background : '' }})">
            <div class="formulaire_menu" *ngIf="actualStep === 1">
              <div class="menu">
                <div *ngFor="let menu of menus.controls; index as i" >
                  <!-- Categorie -->
                  <p class="categorie font-primary-light font-default-20"> ~ {{ getFormGroup(menu).controls['menuCategorie'].value }} ~</p>
                  <!-- Description -->
                  <div class="champ-input">
                    <textarea
                      autosize
                      [disabled]="true"
                      aria-disabled="true"
                      class="description font-primary-light font-default-16">
                      {{ getFormGroup(menu).controls['menuDescription'].value }}
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

      </mat-step>
      <mat-step [stepControl]="formPlanTable" errorMessage="Address is required.">
        <div class="form_visual">
          <form [formGroup]="formPlanTable">
            <ng-template matStepLabel>{{ 'Inscription.stepper_plan_table' | translate | capitalizeFirstLetter }}</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="nothing"
                     required>
            </mat-form-field>
          </form>
          <div class="visual" style="background-image: url({{ background ? background : '' }})">
            <div class="plan_table" *ngIf="actualStep === 2">
              <p> TODO</p>
            </div>
          </div>
        </div>

        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button >Mon bouton</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="test()">YES !!</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>

<ng-template #dialogContent>
  <app-generic-image-cropper
    [maintainAspectRatio]="true"
    [imageChangedEvent]="backgroundSrc"
    [ratio]="1/2"
    (croppedImage)="setBackground($event)"
  >
  </app-generic-image-cropper>
</ng-template>
