.page {
  background-color: var(--primary);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.formulaire {
  width: 65%;
  height: 80%;


  .form_visual {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.visual {
  width:20vw;
  height:40vw;
  background-color: red;
  .presentation_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    textarea {
      font-family: GreatVibes, serif;
      color: var(--primary-light);
      width: 100%;
      background: transparent;
      border: 0;
    }
  }
}
