<div class="switch">
  <button class="switch-list" [ngClass]="isFirstSelected ? 'selected' : 'unselected'"
          (click)="this.selected.emit(true)">
    <p> {{ switchOptions[0].optionText | translate | uppercase }} </p>
    <mat-icon> {{ switchOptions[0].icon }} </mat-icon>
  </button>
  <button class="switch-grid" [ngClass]="isFirstSelected ? 'unselected' : 'selected'"
          (click)="this.selected.emit(false)">
    <p> {{ switchOptions[1].optionText | translate | uppercase }} </p>
    <mat-icon> {{ switchOptions[1].icon }} </mat-icon>
  </button>
</div>
