<div class="card">
  <h1 class="font-default-24"> {{ 'Auth.sign_in' | translate | capitalizeFirstLetter }}</h1>
  <div class="input">
    <div class="formGroup">
      <input class="font-default-16" #userEmail type="email" required="required">
      <span class="font-default-20"> {{ 'Auth.email' | translate | capitalizeFirstLetter  }} </span>
    </div>
    <div class="formGroup">
      <input class="font-default-16" #userPassword type="password" required="required">
      <span class="font-default-20"> {{ 'Auth.password' | translate | capitalizeFirstLetter  }} </span>
    </div>
  </div>

  <!-- Calling SignIn Api from AuthService -->
  <div class="formGroup">
    <div class="button" (click)="authService.SignIn(userEmail.value, userPassword.value)">
      <h2 class="font-default-20"> {{ 'Auth.log_in' | translate | capitalizeFirstLetter  }} </h2>
    </div>
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <div class="formGroup">
    <div class="button" (click)="authService.GoogleAuth()">
      <h2 class="font-default-20"> {{ 'Auth.log_in_google' | translate | capitalizeFirstLetter  }} </h2>
    </div>
  </div>
  <div class="forgotPassword">
    <h2 class="font-default-20" routerLink="/forgot-password">{{ 'Auth.forgot_password' | translate | capitalizeFirstLetter  }}</h2>
  </div>

  <!-- TODO -->
<!--    <div class="redirectToLogin">-->
<!--      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>-->
<!--    </div>-->
</div>
