<form [formGroup]="form" class="card sign-in" id="form">

  <div class="switch-button">
    <h1 class="font-default-20 font-primary-light" [ngClass]="!isRegister ? 'title-selected': 'title-unselected'" (click)="switchRegister()"> {{ 'Auth.sign_in' | translate | capitalizeFirstLetter }}</h1>
    <h1 class="font-default-20 font-primary-light" [ngClass]="isRegister ? 'title-selected': 'title-unselected'" (click)="switchRegister()"> {{ 'Auth.register' | translate | capitalizeFirstLetter }}</h1>
  </div>

  <mat-divider></mat-divider>

  <div id="input" class="input">
    <div class="formControl" *ngIf="isRegister">
      <input
        class="font-default-20"
        [ngClass]="form.get('name')?.value !== '' ? 'input-not-null' : '' "
        [formControlName]="'name'"
        #userName
        type="text"
        required="required">
      <span class="font-default-20 font-secondary-dark"> {{ 'Auth.user_name' | translate | capitalizeFirstLetter  }} </span>

      <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>
    </div>

    <div class="formControl">
      <input
        class="font-default-20"
        [ngClass]="form.get('email')?.value !== '' ? 'input-not-null' : '' "
        [formControlName]="'email'"
        #userEmail
        type="email"
        required="required">
      <span class="font-default-20 font-secondary-dark"> {{ 'Auth.email' | translate | capitalizeFirstLetter  }} </span>

      <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
        {{ 'Utils.Errors.email' | translate | capitalizeFirstLetter  }}
      </mat-error>
      <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>
    </div>

    <div class="formControl">
      <input
        class="font-default-20"
        [ngClass]="form.get('password')?.value !== '' ? 'input-not-null' : '' "
        [formControlName]="'password'"
        #userPassword
        type="{{ viewPassword ? 'text' : 'password'}}"
        autocomplete="on"
        required="required">
      <span class="font-default-20 font-secondary-dark"> {{ 'Auth.password' | translate | capitalizeFirstLetter  }} </span>

      <mat-icon
        class="see-password"
        *ngIf="form.get('password')?.value !== ''"
        (click)="viewPassword = !viewPassword"
      > {{ viewPassword ? 'visibility' : 'visibility_off' }} </mat-icon>

      <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>
    </div>

    <div class="forgotPassword" *ngIf="!isRegister">
      <h2 class="font-default-16" (click)="forgotPassword()">{{ 'Auth.forgot_password' | translate | capitalizeFirstLetter  }}</h2>
    </div>

    <div class="formControl" *ngIf="isRegister">
      <input
        class="font-default-20"
        [ngClass]="form.get('verifyPassword')?.value !== '' ? 'input-not-null' : '' "
        [formControlName]="'verifyPassword'"
        #userVerifyPassword
        type="{{ viewVerifyPassword ? 'text' : 'password'}}"
        autocomplete="on"
        required="required">
      <span class="font-default-20 font-secondary-dark"> {{ 'Auth.verify_password' | translate | capitalizeFirstLetter  }} </span>

      <mat-icon
        class="see-password"
        *ngIf="form.get('verifyPassword')?.value !== ''"
        (click)="viewVerifyPassword = !viewVerifyPassword"
      > {{ viewVerifyPassword ? 'visibility' : 'visibility_off' }} </mat-icon>

      <mat-error *ngIf="form.get('verifyPassword')?.value !== '' && form.get('verifyPassword')?.value !== form.get('password')?.value && !form.get('verifyPassword')?.hasError('required')">
        {{ 'Utils.Errors.different_password' | translate | capitalizeFirstLetter  }}
      </mat-error>
      <mat-error *ngIf="form.get('verifyPassword')?.touched && form.get('verifyPassword')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>
    </div>
  </div>

  <mat-divider id="divider"></mat-divider>

  <div id="buttons" class="buttons">
    <div class="condition_utilisation">
      <span class="font-default-16 font-primary-light" style="text-align: justify"> {{ 'Users.Condition_utilisation.explain' | translate | capitalizeFirstLetter  }} </span>
      <div class="checkbox">
        <mat-checkbox [color]="'primary'" [formControlName]="'cgu'" >
        </mat-checkbox>
        <span (click)="displayCGU()" class="font-default-16" style="text-decoration: underline"> {{ 'Users.Condition_utilisation.title' | translate | capitalizeFirstLetter  }} </span>
      </div>
      <mat-error class="error-checkbox" *ngIf="form.get('cgu')?.touched && form.get('cgu')?.hasError('required')">
        {{ 'Utils.Errors.required' | translate | capitalizeFirstLetter  }}
      </mat-error>
    </div>

    <!-- Calling Create Account -->
    <button
      mat-raised-button
      class="font-default-20"
      *ngIf="isRegister"
      (click)="form.valid ? authService.SignUp(form.controls['name'].value, userEmail.value, userPassword.value) : form.markAllAsTouched();"
    >
      {{ 'Auth.create_account' | translate | capitalizeFirstLetter  }}
    </button>

    <!-- Calling SignIn Api from AuthService -->
    <button
      mat-raised-button
      class="font-default-20"
      *ngIf="!isRegister"
      (click)="form.valid ? authService.SignIn(userEmail.value, userPassword.value) : form.markAllAsTouched();"
    >
      {{ 'Auth.log_in' | translate | capitalizeFirstLetter  }}
    </button>
    <!-- Calling GoogleAuth Api from AuthService -->
    <button
      mat-raised-button
      class="font-default-20"
      *ngIf="!isRegister"
      (click)="form.get('cgu')?.valid ? authService.GoogleAuth() : form.get('cgu')?.markAsTouched();"
    >
      {{ 'Auth.log_in_google' | translate | capitalizeFirstLetter  }}
    </button>
  </div>

</form>
