<h2> COMMENT </h2>

<div 
    *ngFor="let comment of comments"
    [ngClass]="currentUser.userId === comment.userId ? 'userComment' : 'comment'"
    >

    <div class="user-banner">
        <div class="photo-profil">
            <img src="{{ comment.photoUrl }}" alt="{{ comment.userId}}">
        </div>
    </div>
    <div>
        <p> {{ comment.userName}}</p>
        <p> {{ comment.comment}}</p>
    </div>

    <div class="like-button">
        <app-like-button
            [isLike]="commentIsLike(comment.commentId)"
            (click)="likeComment(comment)" 
        >
        </app-like-button>
        <p> like : {{ comment.countLikeComment }} </p>
    </div>

</div>

<input #newComment (keyup.enter)="addComment(newComment.value)" (blur)="addComment(newComment.value); newComment.value='' ">

<button type="button" (click)="addComment(newComment.value)">Add</button>