<div class="navigation-bar">
  <div (click)="tab(0)" [ngClass]="{'activetab' : tabSelector == 0}" class="tab">
    <mat-icon>home</mat-icon>
  </div>
  <div (click)="tab(1)" [ngClass]="{'activetab' : tabSelector == 1}" class="tab">
    <mat-icon>restaurant_menu</mat-icon>
  </div>
  <div (click)="tab(2)" [ngClass]="{'activetab' : tabSelector == 2}" class="tab">
    <mat-icon>photo_camera</mat-icon>
  </div>
  <div (click)="tab(3)" [ngClass]="{'activetab' : tabSelector == 3}" class="tab">
    <mat-icon>person_search</mat-icon>
  </div>
  <div (click)="tab(4)" [ngClass]="{'activetab' : tabSelector == 4}" class="tab">
    <mat-icon>account_circle</mat-icon>
  </div>
</div>
