.navigation-bar {
  background-color: var(--primary);
  border: 1px black solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
}

mat-icon {
  padding: 0.625rem;
}

.activetab  {
  color: var(--primary-light);
  mat-icon {
    background-color: var(--primary-dark);
    border-radius: 100%;
  }
}
