<div class="card">
  <div>
    <p class="font-default-20 table-name"> {{ tableInfos.key.tableName }}</p>

    <div>
      <button *ngIf="isMaster" class="button-modifier" (click)="isEdit = !isEdit"> modifier </button>
      <button *ngIf="isEdit" class="button-save" (click)="save()"> save </button>
    </div>
  </div>


  <div class="menu">
    <div *ngFor="let item of tableInfos.value; index as i" >
      <p *ngIf="!isEdit" class="invite font-default-20"> ~ {{ item.inviteName }} ~</p>
      <div class="champ-input"
           *ngIf="isEdit">
        <input
          class="invite font-default-20"
          (ngModelChange)="onInputChange(item.inviteId)"
          type="text"
          [(ngModel)]="item.inviteName">
        <button class="button-remove" (click)="delete(item)"> remove </button>
      </div>

    </div>
    <div *ngIf="isEdit">
      <input  *ngIf="isEdit" [(ngModel)]="invite" class="invite font-default-20" placeholder="+" >
    </div>
  </div>
</div>
