<h2> COMMENT </h2>

<div 
    *ngFor="let comment of comments"
    [ngClass]="currentUser.userId === comment.userId ? 'userComment' : 'comment'"
    >

    <div class="user-banner">
        <div class="photo-profil">
            <img src="{{ comment.photoUrl }}" alt="{{ comment.userId}}">
        </div>
    </div>
    <div>
        <p> {{ comment.userName}}</p>
        <p> {{ comment.comment}}</p>
    </div>

    <div class="buttons">
        <app-delete-button
            *ngIf="comment.userId == currentUser.userId"
            (click)="removeComment(comment)"
        >
        </app-delete-button>
        <app-like-button
            [isLike]="commentIsLike(comment.commentId)"
            [countLike]="comment.countLikeComment"
            (click)="likeComment(comment)" 
        >
        </app-like-button>
    </div>

</div>

<input #newComment (keyup.enter)="addComment(newComment.value); newComment.value=''">

<button type="button" (click)="addComment(newComment.value); newComment.value=''">Add</button>