<div class="card verify_email">
  <h3 class="font-default-20 font-primary-light"> {{ 'Auth.verify_email_title' | translate | capitalizeFirstLetter  }}</h3>
  <span class="font-primary-light font-default-16">{{ 'Auth.verify_email_text' | translate | capitalizeFirstLetter  }} {{currentUser.email}}.</span>
  <span class="font-primary-light font-default-16" >{{ 'Auth.verify_email_text_2' | translate | capitalizeFirstLetter  }}</span>

  <button (click)="authService.SendVerificationMail()" class="btn btnPrimary" type="button">
    Resend Verification Email
  </button>
  <span class="font-primary-light font-default-16" (click)="authService.passWithoutSignIn()">{{ 'Auth.go_back_to_login' | translate | capitalizeFirstLetter }}</span>
</div>
