<h2> PICTURE </h2>

<button (click)="addPicture()">
    + Picture
</button>

<button (click)="removePicture()">
    - Picture
</button>

<div class="card" *ngFor="let picture of pictures; let index = index">
    <div class="header">
        <div class="user-banner">
            <div class="photo-profil">
                <img src="{{ picture.photoUrl }}" alt="{{ picture.userId}}">
            </div>
            <p> {{ picture.userName}}</p>
        </div>
    </div>  
    <div class="picture">
        <img src="{{ picture.pictureUrl }}" alt="{{ picture.pictureId}}">
    </div>
    <div class="counter">
        <app-like-button
            [isLike]="pictureIsLike(picture.pictureId)"
            (click)="likePicture(picture)" 
        >
        </app-like-button>
        <p> like : {{ picture.countLike }} </p>
        <p> comment : {{ picture.countComment }} </p>
    </div>
    <div class="footer">
        <button (click)="goToComment(picture)"> Comment </button>
        <button> Share </button>
    </div>
</div>
