<div class="card">
  <div class="buttons">
    <mat-icon *ngIf="inEdition" class="button-modifier" (click)="retour()"> undo </mat-icon>
    <mat-icon *ngIf="isEditable && !inEdition" class="button-modifier" (click)="beInEdition.emit(!inEdition)"> edit </mat-icon>
    <mat-icon *ngIf="inEdition" class="button-save" (click)="save()"> save </mat-icon>
  </div>

  <div>
    <h1 class="font-primary-light font-paris-38"> {{ 'Menu.title' | translate | capitalizeFirstLetter }}</h1>
  </div>


  <div class="menu">
    <div *ngFor="let item of editMenuList; index as i" >

      <div class="remove">
        <mat-icon class="button-remove" *ngIf="inEdition" (click)="delete(item)"> delete </mat-icon>
      </div>

      <!-- Categorie -->
      <p *ngIf="!inEdition" class="categorie font-primary-light font-script-28"> ~ {{ item.menuCategorie }} ~</p>
      <div class="champ-input"
        *ngIf="inEdition">
        <input
          class="categorie font-primary-light font-paris-28"
          (ngModelChange)="onInputChange(item.menuId)"
          type="text"
          placeholder="~ {{ 'Menu.placeholder_categorie' | translate | capitalizeFirstLetter }} ~"
          [(ngModel)]="item.menuCategorie">
      </div>

      <!-- Description -->
      <div class="champ-input">
        <textarea
          autosize
          [disabled]="!inEdition"
          class="description font-primary-light font-paris-20"
          (ngModelChange)="onInputChange(item.menuId)"
          placeholder="{{ 'Menu.placeholder_description' | translate | capitalizeFirstLetter }}"
          [(ngModel)]="item.menuDescription">
        </textarea>
      </div>
    </div>
    <div *ngIf="inEdition" class="button_add">
      <button mat-fab extended (click)="newCategories()">
        <mat-icon>add</mat-icon>
        {{ 'Menu.add_menu' | translate | capitalizeFirstLetter }}
      </button>
    </div>
  </div>
</div>
