.card {
  background: var(--secondary-light);
  padding: 0.5rem;

  mat-expansion-panel {

    background: var(--secondary-light);

    mat-expansion-panel-header {
      color: var(--primary-light);
      background:  var(--secondary-dark) !important;
      font-size: var(--font-size-default-20);
      height: auto !important;
      padding: 1rem 0.5rem;
    }

    .content {
      margin: 0 -24px -16px;
      .param {
        font-size: var(--font-size-default-16);
        color: var(--primary-dark);
        padding: 1rem;
        transition: max-height, 1s;
      }
    }
  }
}

.disabled {
  pointer-events: none;
}
