.card {
  position: relative;
  background: var(--black);
  padding: 1rem;
  border: 0.5rem solid var(--primary);
  border-radius: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-icon {
    color: var(--primary);
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .tables {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .table {
      cursor: move;
      background: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;

      input {
        text-align: center;
      }
    }
  }

  .button_add {
    margin-top: 2rem;
  }
}
