<div class="card" *ngIf="!editMode" [ngClass]="{'disabled': isEdit}">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="selected">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{tableName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div class="param" *ngFor="let invite of invites">{{invite.inviteName}}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="editMode">
  <input
    type="text"
    [(ngModel)]="tableName">

    <input
      *ngFor="let invite of invites"
      type="text">
</div>
