<div #card class="card">

  <div class="buttons">
    <mat-icon *ngIf="isEdit" class="button-modifier" (click)="retour()"> undo </mat-icon>
    <mat-icon *ngIf="isEditable && !isEdit" class="button-modifier" (click)="edit()"> edit </mat-icon>
    <mat-icon *ngIf="isEdit" class="button-save" (click)="save()"> save </mat-icon>
  </div>

  <div>
    <h1 class="font-primary-light font-default-24" style="text-align: center; margin-bottom: 2rem"> {{ 'Plan_table.title' | translate | uppercase }}</h1>
  </div>

  <div class="tables">
    <div #table *ngFor="let item of editPlanTableMap | keyvalue"
         class="table"
         (click)="onClick(item)">
      <input
        class="input font-default-16"
        type="text"
        (ngModelChange)="onInputChange(item.key.planTableId)"
        [disabled]="!isEdit"
        [style.width.px]="(item.key.tableName.length + 1) * 8"
        oninput="this.style.width = ((this.value.length + 1) * 8) + 'px';"
        [(ngModel)]="item.key.tableName">

        <mat-icon class="button-remove" *ngIf="isEdit" (click)="delete(item.key)"> delete </mat-icon>

    </div>
  </div>

  <div *ngIf="isEdit" class="button_add">
    <button mat-fab extended (click)="addTable()">
      <mat-icon>add</mat-icon>
      {{ 'Plan_table.add_plan_table' | translate | capitalizeFirstLetter }}
    </button>
  </div>

</div>
