<div class="card" style="{{style}}">
  <div class="header">
    <div class="user-banner">
      <img alt="{{ post.userId}}" src="{{ post.photoUrl }}">
      <p class="user-name font-default-16"> {{ post.userName}}</p>

      <app-dropdown-menu
        [matIcon]="'more_vert'"
        [options]="dropdownOptions"
        (optionSelected)="onOptionSelected($event)">
      </app-dropdown-menu>
    </div>
  </div>

  <div
    class="content"
    (dblclick)="!isOffline ? reactPost(post) : null"
    (click)="isOffline ? updatePicture(post) : null">
    <img
      class="post-img"
      [ngClass]="isOffline ? 'offline' : 'online'"
      alt="{{ post.postId}}"
      src="{{ post.pictureUrl }}">

    <ng-lottie
      class="like"
      [options]="options"
      (animationCreated)="animationCreated($event)"
      (loopComplete)="loopComplete()"
    >
    </ng-lottie>


    <div class="custom-loader" *ngIf="post.isDownloading"></div>
    <div class="no-internet" *ngIf="isOffline && !post.isDownloading">
      <mat-icon>download_for_offline</mat-icon>
    </div>

  </div>

  <div class="footer" *ngIf="isActivate">
    <app-like-button
      (click)="reactPost(post)"
      [countReact]="post.countReact"
      [isLike]="reactPostId.includes(post.postId)"
    >
    </app-like-button>
  </div>
  <div class="footer" *ngIf="!isActivate">
    <p> AUCUN ACCCES ATTENTION etc... </p>
  </div>
</div>
