<div class="page" [ngStyle]="(!!event && event.pictureUrl) ? {'background-image': 'url('+ event.pictureUrl + ')'} : {'background-color': 'var(--secondary-light)'}" >
  <div class="banner-edit-mode" *ngIf="isEditMode">
    <p> Voici une prévisualisation de l'application </p>
    <p> Dans cette verision vous pouvez faire toutes les modification nécessaire. </p>
  </div>

  <app-card-menu
    [menuList]="menuList"
    [isEditable]="isEditable"
    (addMenu)="addMenu($event)"
    (removeMenu)="removeMenu($event)"
  ></app-card-menu>

</div>
