<div class="page" *ngIf="event" style="background-image: url({{ background ? background : event.pictureUrl }})">


  <app-dropdown-menu
    *ngIf="isEditable && !inEdition"
    [matIcon]="'edit'"
    [options]="dropdownOptions"
    (optionSelected)="onOptionSelected($event)">
  </app-dropdown-menu>

  <div class="text-zone">
    <button mat-raised-button class="save_button" *ngIf="inEdition" (click)="save()"> SAVE </button>

    <div class="edit_buttons" *ngIf="inEdition">
      <button mat-raised-button (click)="onFontSizeChange(true)"><mat-icon>text_increase</mat-icon></button>
      <button mat-raised-button (click)="onFontSizeChange(false)"><mat-icon>text_decrease</mat-icon></button>
      <button mat-raised-button  (click)="onAlignChange('left')"><mat-icon>format_align_left</mat-icon></button>
      <button mat-raised-button  (click)="onAlignChange('center')"><mat-icon>format_align_justify</mat-icon></button>
      <button mat-raised-button  (click)="onAlignChange('right')"><mat-icon>format_align_right</mat-icon></button>
    </div>
    <div class="text">
      <textarea
        autosize
        [style]="inEdition ? 'outline: auto' : 'outline: none'"
        [disabled]="!inEdition"
        class="text-presentation"
        [ngStyle]="{'font-size': fontSizeString, 'text-align': textAlign }"
        [(ngModel)]="presentationText">
      </textarea>
    </div>
  </div>

</div>

<ng-template #dialogContent>
  <h2 mat-dialog-title></h2>
  <app-generic-image-cropper
    [maintainAspectRatio]="true"
    [imageChangedEvent]="backgroundSrc"
    [ratio]="1/2"
    (croppedImage)="setBackground($event)"
  >
  </app-generic-image-cropper>
</ng-template>
