<div class="page" style="background-image: url({{ background ? background : event.pictureUrl }})">
  <app-dropdown-menu
    [matIcon]="'edit'"
    [options]="dropdownOptions"
    (optionSelected)="onOptionSelected($event)">
  </app-dropdown-menu>

  <div *ngIf="isSetPresentationText">
    <button (click)="save()"> SAVE </button>
    <div>
      <button (click)="onFontSizeChange(true)">+</button>
      <button (click)="onFontSizeChange(false)">-</button>
      <button (click)="onAlignChange('left')">Gauche</button>
      <button (click)="onAlignChange('center')">Centre</button>
      <button (click)="onAlignChange('right')">Droite</button>
    </div>
    <div>
      <textarea
        autosize
        class="text-presentation"
        [ngStyle]="{'font-size': fontSizeString, 'text-align': textAlign }"
        [(ngModel)]="event.presentationText">
  </textarea>
    </div>
  </div>

  <textarea
      *ngIf="!isSetPresentationText"
      autosize
      disabled = true
      class="text-presentation"
      [ngStyle]="{'font-size': fontSizeString, 'text-align': textAlign }"
      [(ngModel)]="event.presentationText">
  </textarea>

</div>

<ng-template #dialogContent>
  <app-generic-image-cropper
    [maintainAspectRatio]="true"
    [imageChangedEvent]="backgroundSrc"
    [ratio]="1/2"
    (croppedImage)="setBackground($event)"
  >
  </app-generic-image-cropper>
</ng-template>
