.page {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;


  app-dropdown-menu {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    z-index: 2;
  }

  .text-zone {
    height: 100%;
    display: flex;
    flex-direction: column;

    .save_button {
      position: fixed;
      margin: 2rem;
      z-index: 2;
    }

    .edit_buttons {
      position: fixed;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5rem;
      z-index: 2;
    }

    .text {
      height: 100%;
      display: flex;
      align-items: center;

      textarea {
        font-family: GreatVibes, serif;
        color: var(--primary-light);
        width: 100%;
        background: transparent;
        border: 0;
        position: fixed;
        padding: 0;
      }
    }
  }
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
