<div class="page" style="background-image: url({{ background ? background : event.pictureUrl }})">

  <div class="banner-edit-mode" *ngIf="isEditMode">
    <p> Voici une prévisualisation de l'application </p>
    <p> Dans cette verision vous pouvez faire toutes les modification nécessaire. </p>
  </div>

  <app-dropdown-menu
    *ngIf="isEditable"
    [matIcon]="'edit'"
    [options]="dropdownOptions"
    (optionSelected)="onOptionSelected($event)">
  </app-dropdown-menu>

  <div class="text-zone">
    <div *ngIf="isSetPresentationText" class="buttons">
      <button (click)="save()"> SAVE </button>
      <div>
        <button (click)="onFontSizeChange(true)">+</button>
        <button (click)="onFontSizeChange(false)">-</button>
        <button (click)="onAlignChange('left')">Gauche</button>
        <button (click)="onAlignChange('center')">Centre</button>
        <button (click)="onAlignChange('right')">Droite</button>
      </div>
    </div>

    <div class="text">
      <textarea
        autosize
        [disabled]="!isSetPresentationText"
        class="text-presentation"
        [ngStyle]="{'font-size': fontSizeString, 'text-align': textAlign }"
        [(ngModel)]="event.presentationText">
      </textarea>
    </div>
  </div>

</div>

<ng-template #dialogContent>
  <app-generic-image-cropper
    [maintainAspectRatio]="true"
    [imageChangedEvent]="backgroundSrc"
    [ratio]="1/2"
    (croppedImage)="setBackground($event)"
  >
  </app-generic-image-cropper>
</ng-template>
