/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"), url(./assets/fonts/GreatVibes-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "BreeSerif";
  src: local("BreeSerif"), url(./assets/fonts/BreeSerif-Regular.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();

$primary: #C7AA81;
$primary-light: #FBDCB1;
$primary-dark: #644E29;
$secondary: #C0C0C0;
$secondary-light: #F3F3F3;
$secondary-dark: #909090;
$black: #000000;

$my-primary-palette: (
  50: #f1eae0,
  100: #ddcbb1,
  200: #C7AA81,
  300: #b58a4e,
  400: #ac7427,
  500: #a16003,
  600: #9e5802,
  700: #984c00,
  800: #913f00,
  900: #862800,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);
$my-secondary-palette: (
  50: #fafafa,
  100: #f6f6f6,
  200: #f0f0f0,
  300: #e3e3e3,
  400: #c0c0c0,
  500: #a1a1a1,
  600: #787878,
  700: #646464,
  800: #454545,
  900: #232323,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  )
);

$my-primary: mat.define-palette($my-primary-palette, 200);
$my-accent: mat.define-palette($my-secondary-palette, 400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  density: 0,
));
@include mat.all-component-themes($my-theme);

:root {
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --secondary-dark: #{$secondary-dark};
  --black: #{$black};

  --font-size-default: 0.75rem;
  --font-size-default-16: 1rem;
  --font-size-default-20: 1.25rem;
  --font-size-default-24: 2.5rem;

  --font-size-title: 0.75rem;
  --font-size-title-20: 1.25rem;
  --font-size-title-24: 2.5rem;
  --font-size-title-48: 3rem;

}

body {
  margin: 0;
}

.font-default {
  font-family: breeSerif, serif;
  font-size: var(--font-size-default);
  margin: 0;
  font-weight: normal;
}
.font-default-16 {
  font-family: breeSerif, serif;
  font-size: var(--font-size-default-16);
  margin: 0;
  font-weight: normal;
}
.font-default-20 {
  font-family: breeSerif, serif;
  font-size: var(--font-size-default-20);
  margin: 0;
  font-weight: normal;
}
.font-default-24 {
  font-family: breeSerif, serif;
  font-size: var(--font-size-default-24);
  margin: 0;
  font-weight: normal;
}
.font-title {
  font-family: GreatVibes, serif;
  font-size: var(--font-size-title);
  margin: 0;
  font-weight: normal;
}
.font-title-20 {
  font-family: GreatVibes, serif;
  font-size: var(--font-size-title-20);
  margin: 0;
  font-weight: normal;
}

.font-title-48 {
  font-family: GreatVibes, serif;
  font-size: var(--font-size-title-48);
}

.font-primary {
  color: var(--primary)
}

.font-primary-light {
  color: var(--primary-light)
}

.font-primary-dark {
  color: var(--primary-dark)
}

.font-secondary {
  color: var(--secondary)
}

.font-secondary-light {
  color: var(--secondary-light)
}

.font-secondary-dark {
  color: var(--secondary-dark)
}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: breeSerif, serif;
  font-size: var(--font-size-default-16);
}

mat-error {
  position: absolute;
  padding: 0.2rem;
  font-family: breeSerif, serif;
  font-size: var(--font-size-default-16);
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #cc0000;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
