<button (click)="switchEvent()">
  Change Event
</button>

<div *ngIf="canAccess">
  <div class="header">
    <img alt="{{ currentUser.userId}}" src="{{ currentUser.photoUrl }}">
    <button (click)="changePicture()"> TEST </button>
    <p> {{ currentUser.userName}}</p>
  </div>

  <div class="accordeons">

    <div class="wrap_title" (click)="viewContent1 = !viewContent1"> {{ 'Users.tab_title_1' | translate | titlecase }}</div>
    <div class="content" [ngClass]="viewContent1 ? 'visible' : 'invisible'">
      <div class="param" (click)="changeUserName()">{{ 'Users.nom_utilisateur' | translate | capitalizeFirstLetter }}</div>
    </div>

    <div class="wrap_title" (click)="viewContent2 = !viewContent2">{{ 'Users.tab_title_2' | translate | titlecase }}</div>
    <div class="content" [ngClass]="viewContent2 ? 'visible' : 'invisible'">
      <div class="param" (click)="changeLanguage()">{{ 'Users.langue' | translate | capitalizeFirstLetter }}</div>
      <div class="param" (click)="goToConfidentialite()">{{ 'Users.confidentialite' | translate | capitalizeFirstLetter }}</div>
      <div class="param">{{ 'Users.notification_push' | translate | capitalizeFirstLetter }}</div>
    </div>

    <div class="wrap_title" (click)="viewContent3 = !viewContent3">{{ 'Users.tab_title_3' | translate | titlecase }}</div>
    <div class="content" [ngClass]="viewContent3 ? 'visible' : 'invisible'">
      <div class="param" (click)="signOut()">{{ 'Users.deconnexion' | translate | capitalizeFirstLetter }}</div>
      <div class="param" (click)="removeUser()">{{ 'Users.supprimer' | translate | capitalizeFirstLetter }}</div>
    </div>

  </div>

  <ng-template #dialogChangePicture>
    <app-generic-image-cropper
      [maintainAspectRatio]="true"
      [imageChangedEvent]="pictureSrc"
      [ratio]="1"
      (croppedImage)="getNewPicture($event)"
    >
    </app-generic-image-cropper>
  </ng-template>

  <ng-template #dialogChangeUserName>
    <input [(ngModel)]="currentUser.userName" class="font-default-20">
  </ng-template>

  <ng-template #dialogChangeLanguage>
    <p> LAngue</p>
  </ng-template>

  <ng-template #dialogConfidentialite>
    <p> Confidentialité</p>
  </ng-template>

</div>

<div *ngIf="!canAccess">
  <app-sign-in></app-sign-in>
</div>



