<div class="user_page" *ngIf="canAccess">

  <div class="header">
    <img
      alt="{{ currentUser.userId }}"
      src="{{ currentUser.photoUrl }}"
      (click)="changePicture()">
    <p class="font-primary-dark font-default-20" > {{ currentUser.userName }} </p>
    <div class="nbr-post">
      <p class="font-primary-dark font-default-20"> {{ currentUser.nbrOfPost }} </p>
      <p class="font-primary-dark font-default-16"> {{ 'Users.nbr_of_post' | translate | capitalizeFirstLetter}} </p>
    </div>
  </div>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Users.tab_title_1' | translate | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div class="param" (click)="changeUserName()">{{ 'Users.username' | translate | capitalizeFirstLetter }}</div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Users.tab_title_2' | translate | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div class="param" (click)="changeLanguage()">{{ 'Users.Languages.language' | translate | capitalizeFirstLetter }}</div>
        <div class="param" (click)="goToConfidentiality()">{{ 'Users.privacy' | translate | capitalizeFirstLetter }}</div>
        <div class="param">{{ 'Users.push_notification' | translate | capitalizeFirstLetter }}</div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Users.tab_title_3' | translate | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div *ngIf="isMaster" class="param" (click)="exportPicture()">{{ 'Users.export' | translate | capitalizeFirstLetter }}</div>
        <div class="param" (click)="signOut()">{{ 'Users.logout' | translate | capitalizeFirstLetter }}</div>
        <div class="param" (click)="removeUser()">{{ 'Users.delete_account' | translate | capitalizeFirstLetter }}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #dialogChangePicture>
    <app-generic-image-cropper
      [maintainAspectRatio]="true"
      [imageChangedEvent]="pictureSrc"
      [ratio]="1"
      (croppedImage)="getNewPicture($event)"
    >
    </app-generic-image-cropper>
  </ng-template>

  <ng-template #dialogChangeUserName>
    <input matInput type="text" [(ngModel)]="currentUser.userName" class="font-default-20">
  </ng-template>

  <ng-template #dialogChangeLanguage>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'Users.Languages.title' | translate | capitalizeFirstLetter }}</mat-label>
      <mat-select [(value)]="selectedLanguage">
        <mat-option *ngFor="let option of languages" [value]="option" >
          {{ option.language }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>

  <ng-template #dialogConfidentialite>
    <p> Confidentialité</p>
  </ng-template>

</div>

<div class="no_auth"  *ngIf="!canAccess">
  <app-auth></app-auth>
</div>



