
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-light);
  padding-top: 1rem;
  gap: 1.5rem;

  .header_link_picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .nbr-post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }
}

mat-expansion-panel {

  background: var(--secondary-light);

  mat-expansion-panel-header {
    color: var(--primary-light);
    background:  var(--secondary-dark) !important;
    font-size: var(--font-size-default-20);
    height: auto !important;
    padding: 1rem 1rem 1rem 2rem;
  }

  .content {
    margin: 0 -24px -16px;
    .param {
      font-size: var(--font-size-default-16);
      color: var(--primary-dark);
      padding: 1rem;
      transition: max-height, 1s;
    }
  }
}

.no_auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  app-auth {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 2rem;
  }

}



