.page {

  mat-tab-group {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);

    ::ng-deep mat-tab-header {
      background-color: var(--secondary-light) !important;
    }

    .participate {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      min-height: 90vh;

      .invite_code {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        mat-form-field {
          margin-bottom: 2rem;
        }
      }

      .invite_qr_code{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }


    .createEvent{
      padding: 1rem;
      min-height: 90vh;
      display: flex;
      flex-direction: column;

      .isAuth {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;

        .button_create_event {
          align-self: flex-start;
          margin : 2rem 0;
        }

        .button_deco {
          align-self: flex-end;
        }

        form {
          margin-top: 2rem;

          mat-form-field {
            margin-bottom: 2rem;
          }
        }
      }
    }

    .acces_event {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;

      .button_event_edit {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        button:nth-child(odd) {
          align-self: flex-start;
        }
        button:nth-child(even) {
          align-self: flex-end;
        }
      }
    }

  }
}

.dialog_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  .link-container {
    flex-grow: 1;
    overflow: auto;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.25);

    .link-text {
      white-space: nowrap;
      user-select: text;
    }
  }
}
