<div class="page">
  <mat-tab-group
    [selectedIndex]="selected"
    (selectedIndexChange)="selected = $event">
    <mat-tab label="Invité">
      <div class="participate" *ngIf="selected === 0">
        <h1 class="font-title-48" style="text-align: center">{{ 'Home.Text.bienvenue' | translate | capitalizeFirstLetter }}</h1>

        <div class="invite_code">
          <form [formGroup]="formInvite">
            <mat-form-field>
              <mat-label>{{ 'Home.enter_code' | translate | capitalizeFirstLetter }}</mat-label>
              <input
                matInput
                type="number"
                formControlName="code">
              <mat-error *ngIf="formEvent.controls['date'].invalid">{{getErrorMessage('date') | translate | capitalizeFirstLetter }}</mat-error>
            </mat-form-field>
          </form>
          <button [disabled]="formInvite.invalid" mat-raised-button (click)="goToEventWithCode()">
            {{ 'Home.enter_code' | translate | capitalizeFirstLetter }}
          </button>
        </div>

        <div class="invite_qr_code">
          <p>{{ 'Home.scan_qr_code' | translate | capitalizeFirstLetter }}</p>
          <button mat-fab (click)="test()" *ngIf="!activeScanner">
            <mat-icon>qr_code_scanner</mat-icon>
          </button>
          <div class="scanner" *ngIf="activeScanner">
            <zxing-scanner></zxing-scanner>
          </div>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="Marié">
      <div class="createEvent" *ngIf="selected === 1">

        <h1 class="font-title-48" style="text-align: center">{{ 'Home.Text.bienvenue' | translate | capitalizeFirstLetter }}</h1>

        <div class="isNotAuth" *ngIf="!canAccess">
          <p> {{ 'Home.need_auth' | translate | capitalizeFirstLetter }} </p>
          <app-auth></app-auth>
        </div>

        <div class="isAuth" *ngIf="canAccess">
          <div *ngIf="!event">
            <button mat-raised-button class="button_create_event" *ngIf="!isCreateEvent" (click)="isCreateEvent = true"> {{ 'Home.create_event' | translate | capitalizeFirstLetter }} </button>

            <div *ngIf="isCreateEvent">
              <p class="font-default-20">
                {{ 'Home.Text.presentation' | translate | capitalizeFirstLetter }}
              </p>
              <form [formGroup]="formEvent">
                <p>
                  {{ 'Home.Text.explain_text_presentation' | translate | capitalizeFirstLetter }}
                </p>
                <mat-form-field>
                  <mat-label>{{ 'Home.event_presentation' | translate | capitalizeFirstLetter }}</mat-label>
                  <textarea
                    matInput
                    autosize
                    placeholder="Mariage de X et Y "
                    formControlName="presentationText">
                  </textarea>
                  <mat-error *ngIf="formEvent.controls['presentationText'].invalid">{{getErrorMessage('presentationText') | translate | capitalizeFirstLetter }}</mat-error>
                </mat-form-field>

                <p>
                  {{ 'Home.Text.explain_date' | translate | capitalizeFirstLetter }}
                </p>

                <mat-form-field>
                  <mat-label>{{ 'Home.event_date' | translate | capitalizeFirstLetter }}</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date"
                    [(ngModel)]="selectedDate"
                    name="date"
                    (dateChange)="onDateChange($event)">
                  <mat-datepicker #picker touchUi ></mat-datepicker>
                  <mat-error *ngIf="formEvent.controls['date'].invalid">{{getErrorMessage('date') | translate | capitalizeFirstLetter }}</mat-error>
                </mat-form-field>

                <mat-card class="demo-inline-calendar-card">
                  <mat-calendar (selectedChange)="onDateChangeCalendar($event)" [(selected)]="selectedDate" #calendar></mat-calendar>
                </mat-card>

              </form>

              <button mat-raised-button class="button_create_event" [disabled]="formEvent.invalid" (click)="createEvent()"> {{ 'Home.create_event_button' | translate | uppercase }}</button>
            </div>

          </div>
          <div class="acces_event" *ngIf="event">
            <p *ngIf="isEditable"> {{ 'Home.set_event' | translate:{ eventDate: event.eventDate.toLocaleDateString()} | capitalizeFirstLetter }}  </p>
            <p *ngIf="!isEditable"> {{ 'Home.event_not_editable' | translate | capitalizeFirstLetter }}  </p>
            <button mat-raised-button (click)="goToEvent()"> {{ 'Home.enter' | translate | capitalizeFirstLetter }}  </button>
            <div class="button_event_edit" *ngIf="isEditable" >
              <button mat-raised-button (click)="generateLink()">
                <mat-icon>link</mat-icon>
                {{ 'Home.generate_link_code' | translate | capitalizeFirstLetter }}
              </button>
              <button mat-raised-button (click)="generateQRCode()">
                <mat-icon>qr_code_2</mat-icon>
                {{ 'Home.generate_qr_code' | translate | capitalizeFirstLetter }}
              </button>
            </div>
          </div>
          <button class="button_deco" mat-fab extended (click)="deconnexion()"> {{ 'Home.logout' | translate | capitalizeFirstLetter }} </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
