<div class="page" [ngStyle]="(!!event && event.pictureUrl) ? {'background-image': 'url('+ event.pictureUrl + ')'} : {'background-color': 'var(--secondary-light)'}" >>

  <app-dropdown-menu
    [matIcon]="'edit'"
    [options]="dropdownOptions"
    (optionSelected)="onOptionSelected($event)">
  </app-dropdown-menu>

  <div class="searchBar">
    <form>
      <mat-form-field
        appearance="fill"
        [color]="'primary'">
        <mat-label style="color: var(--primary-dark)"> {{ 'Plan_table.search_invite' | translate | capitalizeFirstLetter }} </mat-label>
        <mat-icon matPrefix style="color: var(--primary-dark)">search</mat-icon>
        <input type="text"
               placeholder=" {{ 'Plan_table.search_invite' | translate | capitalizeFirstLetter }} "
               matInput
               style="color: var(--primary-dark)"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn"
          (optionSelected)="getSearchResult($event.option.value)">
          <mat-option *ngFor="let invite of inviteListFiltered | async" [value]="invite">
            {{invite.inviteName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <div class="tableau">
    <app-card-plan-table-new
      *ngFor="let infos of tableInviteMap | keyvalue"
      [tableName]="infos.key.tableName"
      [invites]="infos.value"
      [selected]="tableInfos !== null && tableInfos.key === infos.key"
      [isEdit]="isEdit"
      (click)="isEdit ? editTable(infos) : null"
    >
    </app-card-plan-table-new>
  </div>

  <ng-template #dialogEditPlanTable>
    <app-card-plan-table-new
      *ngIf="tableEdit !== null"
      [tableName]="tableEdit.key.tableName"
      [invites]="tableEdit.value"
      [editMode]="true"
      [selected]="tableInfos !== null && tableInfos.key === tableEdit.key"
    >
    </app-card-plan-table-new>
  </ng-template>
</div>

