.page {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;


  app-dropdown-menu {
    align-self: flex-end;
  }

  .searchBar {
    position: sticky;
    top: 0;
    margin-top: 2rem;
    align-self: center;

    ::ng-deep {
      mat-form-field div:first-child {
        background-color: var(--primary);
        opacity: 0.8;
      }
    }
  }

  app-card-plan-table-new {
    display: flex;
    justify-content: center;
    opacity: 0.8;
  }

  .tableau {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 90vw;
    margin-top: 30%;
    gap: 0.2rem;
  }

  app-card-plan-table {
    width: 80%;
    opacity: 0.8;
  }

}

.disabled {
  pointer-events: none;
}

.dialog {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

::ng-deep .mat-mdc-autocomplete-panel {
  background-color: var(--primary);
}
