app-card-plan-table {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

app-card-detail-plan-table {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto auto;
}

.search-result {
  height: 5rem;
  overflow:hidden;
  overflow-y:scroll;
}
