<div class="page">

  <app-search-bar
    [inviteList]="inviteList"
    (clickOnInvite)="getSearchResult($event)"
  >
  </app-search-bar>

  <app-card-plan-table
    [tableInviteMap]="tableInviteMap"
    [isMaster]="isMaster"
    (getDetail)="getDetail($event)"
    (addPlanTable)="addPlanTable($event)"
    (removePlanTable)="removePlanTable($event)"
  ></app-card-plan-table>
  <app-card-detail-plan-table
    *ngIf="tableInfos"
    [tableInfos]="tableInfos"
    [isMaster]="isMaster"
    (addInvite)="addInvite($event)"
    (removeInvite)="removeInvite($event)"
  ></app-card-detail-plan-table>
</div>

