<!--<div #menu class="menu">-->
<!--  <mat-icon (click)="toggleDropdown()" style="color: {{ matIconColor}}"> {{matIcon}}</mat-icon>-->
<!--  <div *ngIf="showDropdown" class="burger-menu" [ngClass]="{ 'show': showDropdown }">-->
<!--    <div class="dropdown-option" *ngFor="let option of options" (click)="selectOption(option)">-->
<!--      <p>{{ option.icon }}</p>-->
<!--      <p>{{ option.optionText }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="menu">
  <mat-icon [matMenuTriggerFor]="menu" style="color: {{ matIconColor}}"> {{matIcon}}</mat-icon>
  <mat-menu #menu="matMenu">
    <div class="options">
      <div class="dropdown-option" *ngFor="let option of options" (click)="selectOption(option)">
        <p>{{ option.icon }}</p>
        <p>{{ option.optionText }}</p>
      </div>
    </div>
  </mat-menu>
</div>
