.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--secondary-light);
  border-radius: 1rem;
  padding: 0.5rem;
}
.options {
  background-color: var(--secondary-light);
  margin: -0.5rem 0;
}
.dropdown-option {
  background-color: var(--secondary-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.dropdown-option:not( :nth-child(1)) {
  border-top: solid 1px var(--secondary-dark);
}
