.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--secondary-light);
  border-radius: 1rem;
  padding: 0.5rem;
}

.dropdown-option {
  display: flex;
  gap: 1rem;
  border-top: solid 1px var(--secondary-dark);
}
