<h2> PICTURE </h2>

<button (click)="addPicture()">
    + Picture
</button>

<div class="card" *ngFor="let picture of pictures; let index = index">
    <div class="header">
        <div class="user-banner">
            <div class="photo-profil">
                <img src="{{ picture.photoUrl }}" alt="{{ picture.userId}}">
            </div>
            <p> {{ picture.userName}}</p>
        </div>
    </div>  
    <div class="picture">
        <img src="{{ picture.pictureUrl }}" alt="{{ picture.pictureId}}">
    </div>
    <div class="footer">
        <app-like-button
        [isLike]="pictureIsLike(picture.pictureId)"
        [countLike]="picture.countLike"
        (click)="likePicture(picture)" 
        >
        </app-like-button>

        <app-comment-button
            [countComment]="picture.countComment"
            (click)="goToComment(picture)"
        >
        </app-comment-button>

        <app-delete-button
            *ngIf="picture.userId == currentUser.userId"
            (click)="removePicture(picture)"
        >
        </app-delete-button>
        <button> Share </button>
    </div>
</div>
